In [1]:
a = 3 # a에 3을 집어 넣어라
a == 3 # a는 3과 같다

In [2]:
print(a)

3

In [4]:
# 변수이름 가장 앞에는 숫자가 들어올 수 없음
a = 1
b = 2
c = -123
d = 145
print(a,b,c,d)

1 2 -123 145

In [6]:
add = 123 + 456
print(add)

579

In [7]:
res = 3 + (2*5)
print(res)

13

In [8]:
res = res / 3
print(res)

4.333333333333333

In [9]:
print(1 + 2 -1231)  # print 안에서 계산이 가능함

-1228

In [10]:
print(a+ b+c)

-120

# 변수 문자열 사용법

In [12]:
a = 'Hello world'
print(a)
b = '안녕 세상'
print(b)

Hello world
안녕 세상

In [13]:
a = "Hi"
print(a)

Hi

In [14]:
b = a
print(b)

Hi

In [15]:
# 따옴표 3개 하고 내용 입력하면 긴 내용도 입력할 수 있음.
longName = '''원하는
내용을
편하게
여러 줄로 입력하기'''

print(longName)

원하는
내용을
편하게
여러 줄로 입력하기

# 변수 활용 퀴즈

In [16]:
# 문자열 + 문자열 ->  두 문자열이 연결되어 나옴.
a = 'my name is'
b = 'Kelly'
print(a+b)

my name isKelly

In [17]:
# 숫자여도 문자열로 저장되어 있으면 그냥 문자열 처럼 취급됨
num1 = '1234'
num2 = '4321'
print(num1+num2)

12344321

In [18]:
k = 'p'
p = 123
print(k)

#이렇게 한다고 해서 p안에 들어 있는 123이 출력되는 것이 아니라 
#그냥 k로 정의된 p가 출력됨

R

# if 사용하기

In [19]:
# 성인 판독기
age = 25

if age > 19:
    print('성인입니다')
else:
    print('청소년 입니다')

성인입니다

In [21]:
# 수우미양가 판독기
#90점 이상은 수, 80점 이상은 우, 70점 이상은 미, 60점 이상은 양, 그 외는 가
score = 10

if score >= 90:
    print('수')
elif score >= 80:
    print('우')
elif score >= 70:
    print('미')
elif score >= 60:
    print('양')
else:
    print('가')

가

# 미션2

In [22]:
# elif 이용하기 않고 if만 사용해서 표현할 수 있음.
score = 10

if score >= 90:
    print('수')
if score >= 80 and score < 90:
    print('우')
if score >= 70 and score < 80:
    print('미')
if score >= 60 and score < 70:
    print('양')
if score < 60:
    print('가')

가

# 리스트

In [27]:
myname = '권정인'
birth = 981126
addr = '서울 마포 상암'

person_info = [myname, birth, addr, '여자', 1100]
print(person_info)

# 리스트명[인덱스번호] 를 통해 리스트 안에서 원하는 정보만 뽑아 낼 수 있음
print(person_info[0])
print(person_info[1])
print(person_info[2])
print(person_info[3])

['권정인', 981126, '서울 마포 상암', '여자', 1100]
권정인
981126
서울 마포 상암
여자

# 딕셔너리

In [28]:
# 딕셔너리는 리스트와 비슷하지만 필드명을 지정하여 저장할 수 있음
# 리스트 -> [] 대괄호 사용
# 딕셔너리 -> {} 중괄호 사용

In [33]:
myname = '권정인'
birth = 981126
addr = '서울 마포 상암'

user_info = {'name': myname, 
             'birth': birth,
             'address': addr,
             'gender': '여성',
             'point': 500}
print(user_info)

# 딕셔너리명[키 값] 를 통해 딕셔너리 안에서 원하는 정보만 뽑아 낼 수 있음
print(user_info['name'])
print(user_info['birth'])
print(user_info['gender'])
print(user_info['address'])

{'name': '권정인', 'birth': 981126, 'address': '서울 마포 상암', 'gender': '여성', 'point': 500}
권정인
981126
여성
서울 마포 상암

In [42]:
# 리스트와 딕셔너리 함께 사용/ 리스트 안에 리스트 
# 리스트 안에는 리스트도 들어갈 수 있고 딕셔너리도 들어갈 수 있음

person_info2 = ['권태성', 991106, '상암동', '남자', 1200]
print(person_info)
print(person_info2)

user_list = [person_info, person_info2, user_info]
print(user_list)
print(user_list[0])
print(user_list[1])

['권정인', 981126, '서울 마포 상암', '여자', 1100]
['권태성', 991106, '상암동', '남자', 1200]
[['권정인', 981126, '서울 마포 상암', '여자', 1100], ['권태성', 991106, '상암동', '남자', 1200], {'name': '권정인', 'birth': 981126, 'address': '서울 마포 상암', 'gender': '여성', 'point': 500}]
['권정인', 981126, '서울 마포 상암', '여자', 1100]
['권태성', 991106, '상암동', '남자', 1200]

In [44]:
# 리스트 속 리스트를 선택해서 그 안에 있는 내용물 확인하기
print(user_list[1][2]) # use_list 속 1번째 인덱스에 해당하는 리스트의 2번째 값

상암동

In [ ]:
# 리스트 속 딕셔너리를 선택해서 그 안에 있는 내용물 확인하기
print(user_list[2]['address'])
# use_list 속 2번째 인덱스에 해당하는 딕셔너리의 'd'