In [1]:
import pandas as pd

df = pd.read_csv('data/iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
# input data, target data 나누기 
input_data = df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
target_data = df['Species']   # 종을 예측하는 것이 목표 => Species가 타겟
# 여러 개 데이터 입력할 때는 대괄호 [[]] -> 2개
# 한 개 데이터 입력할 때는 대괄호 []-> 한 개

In [4]:
input_data.head()  # input에는 4개만 잘 들어가 있음

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [5]:
target_data.head()  # target에는 Species만 잘 들어가 있음

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [8]:
# train data와 test data 나눠줌 
# 변수1, 변수2, 변수3, 변수4 = train_test_split(인풋데이터, 타겟데이터)
# 변수1, 변수2 -> 인풋데이터 를 train(75%)과 test(25%)로 나눠줌
# 변수3, 변수4 -> 타겟데이터 를 train(75%)과 test(25%)로 나눠줌
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(input_data, target_data)

In [15]:
x_train.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
74             6.4           2.9            4.3           1.3
58             6.6           2.9            4.6           1.3
87             6.3           2.3            4.4           1.3
73             6.1           2.8            4.7           1.2
141            6.9           3.1            5.1           2.3

In [10]:
x_test.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
100            6.3           3.3            6.0           2.5
57             4.9           2.4            3.3           1.0
101            5.8           2.7            5.1           1.9
42             4.4           3.2            1.3           0.2
95             5.7           3.0            4.2           1.2

In [11]:
y_train.head()

74     Iris-versicolor
58     Iris-versicolor
87     Iris-versicolor
73     Iris-versicolor
141     Iris-virginica
Name: Species, dtype: object

In [12]:
y_test.head()

100     Iris-virginica
57     Iris-versicolor
101     Iris-virginica
42         Iris-setosa
95     Iris-versicolor
Name: Species, dtype: object

In [25]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(x_train, y_train)

print('training set accuracy: ', tree.score(x_train, y_train))
print('test set accuracy: ', tree. score(x_test, y_test))

training set accuracy:  1.0
test set accuracy:  0.9736842105263158

In [26]:
# x_test에 있는 애들이 각각 무슨 종인지 예측한 값
prediction = tree.predict(x_test)
prediction

array(['Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa'],
      dtype=object)

In [30]:
# radomforest는 여러 개의 decsiontree를 묶은 애라서 더 나은 정확도가 나올 가능성이 높음
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(n_estimators=100) 
# 괄호에 아무 것도 안넣으면 기본값인 100이 설정/ 얘는 트리를 몇개 할 지 정하는 거임
# 숫자가 커질 수록 시간이 오래걸림. 경험적으로 적정한 숫자를 찾아내야 함.

forest.fit(x_train, y_train)

print('training set accuracy: ', forest.score(x_train, y_train))
print('test set accuracy: ', forest. score(x_test, y_test))

prediction_by_forest = forest.predict(x_test)
prediction_by_forest

training set accuracy:  1.0
test set accuracy:  0.9473684210526315

array(['Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa'],
      dtype=object)